#spring:
#  datasource:
#    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_NAME:rate_limiter_db}
#    username: ${DB_USERNAME:postgres}
#    password: ${DB_PASSWORD:postgres}
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true

spring:
  data:
    redis:
      host: redis
      port: 6379


server:
  port: 8080
